
.flashcard{
    padding: 15px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 5px 0px #00000026;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 18px;

    height: 65px;
    transition: height ease-in 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open{
    background-color: #FFFFD5;
    align-items: flex-start;
    flex-direction: column;
    height: 180px;
}

.turn-button-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.turn-button{
    border: 0;
    background-color: transparent;
}

.forgot{
    color: var(--color-red);
}

.remember{
    color: var(--color-yellow);
}

.zap{
    color: var(--color-green);
}

.forgot,
.remember,
.zap{
    text-decoration-line: line-through;
}

.finish-game-buttons-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}

.finish-button{
    border-radius: 5px;
    border: 0;
    height: 38px;
    max-width: 85px;
    margin-left: 8px;
    padding: 0 5px;
    color: #fff;
    font-family: 'Recursive', cursive;
    font-size: 14px;
    flex-shrink: 1;
    flex-grow: 1;
}

.forgot-button{
    background-color: var(--color-red);
    margin-left: 0px;
}

.remember-button{
    background-color: var(--color-yellow);
}

.zap-button{
    background-color: var(--color-green);
}
